<div class="header rlc">
    <%= link_to "my-shop", root_path, :class => 'header__logo'%>
    <div class="header__actions rlc">
        <%= link_to checkout_path do %>
            <div class="header__cart-container">
                <%= image_tag("cart.png", :alt => "cart.png", :class => "header__btn") %>
                <div id="cart-amount-label-id" class="header__cart-amount ccc"><%= get_amount_of_items %></div>
            </div>
        <% end %>
        <div class="header__account ccc">
            <%= image_tag("user.png", :alt => "user.png", :class => "header__btn") %>
            <ul class="header__dropdown">
                <li class="header__dropdown-item">
                    <%= link_to "Аккаунт", personal_path%>
                </li>
                <li class="header__dropdown-item">
                    <%= link_to "Мои заказы", personal_orders_path%>
                </li>
                <% if current_user.admin? %>
                    <li class="header__dropdown-item">
                        <%= link_to "Пользователи системы", users_path%>
                    </li>
                    <li class="header__dropdown-item">
                        <%= link_to "Хранилище товаров", items_storage_path%>
                    </li>
                <% end %>
                <li class="header__dropdown-item">
                    <%= link_to "Выйти из аккаунта", destroy_user_session_path, 'data-turbo-method': :delete %>
                </li>
            </ul>
        </div>
    </div>
</div>
