<h2 class="form__title ccc">Welcome to your account,  <%= @user.first_name + " " + @user.last_name %></h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form__row rlc">
        <div class="form__block">
            <%= f.label :first_name, class: "form__label" %>
            <%= f.text_field :first_name, autofocus: true, class: "form__field", placeholder: "Please type"  %>
        </div>
        <div class="form__block">
            <%= f.label :last_name, class: "form__label" %>
            <%= f.text_field :last_name, autofocus: true,  class: "form__field", placeholder: "Please type"  %>
        </div>
    </div>
    <div class="form__block">
        <%= f.label :email, class: "form__label" %>
        <%= f.email_field :email, autofocus: true, class: "form__field", placeholder: "Please type"  %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <div class="form__block">
        <%= f.label :password, class: "form__label" %> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: "new-password", class: "form__field", placeholder: "Please type" %>
        <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
    </div>
    <div class="form__block">
        <%= f.label :password_confirmation, class: "form__label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form__field", placeholder: "Please type" %>
    </div>
    <div class="form__block">
        <%= f.label :current_password, class: "form__label" %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form__field", placeholder: "Please type" %>
    </div>
    <div class="form__btns rlc">
        <%= f.submit "Update account", class:"form__btn" %>
        <%= link_to "Cancel changes", :back, class:"form__btn form__btn_red" %>
    </div>
<% end %>
