<script>
    if (document.readyState === 'complete') {
        cart.bindAllInputs(JSON.parse("<%= get_cart_item_ids %>"))
    } else {
        document.addEventListener("DOMContentLoaded", () =>{
            cart.bindAllInputs(JSON.parse("<%= get_cart_item_ids %>"))
        }, {once: true});
    }
</script>
<div class="checkout">
    <h1 class="checkout__title">Оформление заказа</h1>
    <div class="checkout__content rlt">
        <div class="checkout__items-container clc">
            <div class="checkout__items-title">Список товаров </div>
            <ul class="checkout__item-list clt">
                <% @order_items.each do |order_item| %>
                    <li id="item-block-id" class="checkout__item rlc">
                        <%= image_tag("box.png", :alt => "box.png", :class => "checkout__img") %>
                        <div class="checkout__text-block ccc">
                            <div class="checkout__text"><%= order_item[:item].name %></div>
                        </div>
                        <div class="checkout__text-block ccc">
                            <div class="checkout__text checkout__text_small">Цена</div>
                            <div class="checkout__text"><%= order_item[:item].price %></div>
                        </div>
                        <div class="checkout__text-block ccc">
                            <div class="checkout__text checkout__text_small">Количество</div>
                            <input id="<%= order_item[:item].id %>" class="checkout__input checkout__input_invalid" type="number" value="<%= order_item[:quantity] %>" min="0" max="100">
                        </div>
                        <div class="checkout__text-block ccc">
                            <div class="checkout__text checkout__text_small">Сума</div>
                            <div id="checkout-total-<%= order_item[:item].id %>" class="checkout__text">
                                <%= '%.2f' % (order_item[:item].price * order_item[:quantity]) %> $
                            </div>
                        </div>
                        <div class="checkout__delete-btn" onclick="cart.deleteFromCart(<%= order_item[:item].id %>, 'item-block-id')">x</div>
                    </li>
                <% end %>
            </ul>
        </div>
        <div class="checkout__info clt">
            <div class="checkout__info-title">Итого</div>
            <div class="checkout__info-block rlc">
                <div class="checkout__info-property">Имя: </div>
                <div class="checkout__info-value"><%= current_user.first_name %></div>
            </div>
            <div class="checkout__info-block rlc">
                <div class="checkout__info-property">Фамилия: </div>
                <div class="checkout__info-value"><%= current_user.last_name %></div>
            </div>
            <div class="checkout__info-block checkout__info-block_total  rlc">
                <div class="checkout__info-property">К оплате: </div>
                <div id="checkout-total" class="checkout__info-value checkout__info-value_total"> <%= '%.2f' % @total_price %> $</div>
            </div>
            <% if flash[:success] %>
                <div class="checkout__accept checkout__accept_accepted">Заказано</div>
            <% else %>
                <%= form_for :order, url: orders_path do |form| %>
                    <%= form.submit("Заказ подтверждаю", {:class=> 'checkout__accept'}) %>
                <% end %>
            <% end %>
        </div>
    </div>
    <%# //TODO Эта штука отвратительно работает %>
    <% if flash[:success] %>
        <div class="checkout__modal ccc">
            <div class="checkout__modal-content ccc">
                <div class="checkout__modal-icon ccc">✔</div>
                <div class="checkout__modal-text">Успешно офомлено</div>
                <%= link_to "На главную", root_path, class: "checkout__modal-btn" %>
            </div>
        </div>
    <% end %>
</div>
