<div class="table">
    <h1 class="table__title">Список созданных заказов</h1>
    <ul class="table__list">
        <% if @orders.length == 0 %>
            <li class="personal-orders__empty">У вас пока что не ни одного заказа, смелее сделайте свой первый заказ !</li>
        <% end %>
        <% @orders.each do |order|%>
            <li class="table__item clc" >
                <div class="table__row-head rlc">
                    <div class="table__row-block  rlc">
                        <div class="table__text table__text_bold">Заказ #<%= order.id %></div>
                        <div class="table__text table__low-priority">Дата: <%= order.created_at.strftime("%d.%m.%Y") %></div>
                    </div>
                    <div class="table__row-block rlc">
                        <div class="table__price">Сумма: <%= order.amount %> $</div>
                    </div>
                    <%= image_tag("arrow.png", :alt => "arrow.png", :class => "table__side-arrow",
                        :onClick => "personalOrders.toggleOrder(this, #{order.id})".html_safe) %>
                </div>
                <div class="personal-orders__content" id=<%= order.id %> >
                    <ul class="personal-orders__items-list clc">
                        <% order.orders_description.each do |order_description| %>
                            <li class="personal-orders__item rlt">
                                <div class="personal-orders__text">- <%= order_description.item.name %> <i>x <%= order_description.quantity %></i></div>
                                <div class="personal-orders__text"><%= '%.2f' % (order_description.item.price * order_description.quantity)  %>&nbsp$</div>
                            </li>
                        <% end %>
                    </ul>
                    <div class="personal-orders__footer rlc">
                        <div class="personal-orders__text"><b>Дата: </b><%= order.created_at.strftime("%d.%m.%Y %H:%M:%S") %></div>
                        <div class="personal-orders__text personal-orders__text_bold"><b>Сумма:</b> <%= order.amount %> $</div>
                    </div>
                </div>
            </li>
        <% end %>
    </ul>
</div>
