<%= form_for :item, url: item_path(@item), method: :patch do |form| %>
    <h1 class="form__title">Edit item</h1>
    <div class="form__block">
        <div class="form__label">Name:</div>
        <%= form.text_field(:name, {:class=> 'form__field'}) %>
        <% if @item.errors[:name].any? %>
            <div class="form__error">* <%= @item.errors[:name].first%></div>
        <% end %>
    </div>
    <div class="form__block">
        <div class="form__label">Description:</div>
        <%= form.text_area(:description, {:class=> 'form__area'}) %>
        <% if @item.errors[:description].any? %>
            <div class="form__error">* <%= @item.errors[:description].first%></div>
        <% end %>
    </div>
    <div class="form__block">
        <div class="form__label">Price:</div>
        <%= form.number_field(:price, step: 0.01, min: 0, :class => 'form__field') %>
        <% if @item.errors[:price].any? %>
            <div class="form__error">* <%= @item.errors[:price].first%></div>
        <% end %>
    </div>
    <%= form.submit("Edit item", {:class=> 'form__btn'}) %>
<% end %>
