<div class="items ccc">
    <%= form_with url: items_path, class: "items__search-container rlc", method: :get do |form| %>
        <%= form.text_field(:search, {:class=> 'form__field', :placeholder => 'Search...', :value => @search }) %>
        <input class="items__search-btn form__btn" type="submit" value="Search">
    <% end %>
    <div class="items__grid rlc">
        <% @items.each do |item|%>
            <div class='items__item-container ccc'>
                <%= link_to item_path(item) do %>
                    <%= image_tag("box.png", :alt => "rss feed", :class => "items__img") %>
                <% end %>
                <%= link_to item_path(item) do %>
                    <div class="items__name"><%= item.name %></div>
                <% end %>
                <div class="items__price"><%= item.price %> $</div>
                <div class="items__btn">Buy</div>
            </div>
        <% end %>
    </div>
</div>
