<div class="items ccc" data-turbo-cache="false">
    <%= form_with url: items_path, class: "items__search-container rlc", method: :get do |form| %>
        <%= form.text_field(:search, {:class=> 'form__field', :placeholder => 'Поиск...', :value => @search }) %>
        <input class="items__search-btn form__btn" type="submit" value="Поиск">
    <% end %>
    <div class="items__grid rlc">
        <% @items.each do |item|%>
            <div class='items__item-container ccc'>
                <%= link_to item_path(item), class: "items__img-container ccc" do %>
                    <%= image_tag("box.png", :alt => "box.png", :class => "items__img") %>
                <% end %>
                <%= link_to item_path(item) do %>
                    <div class="items__name"><%= item.name %></div>
                <% end %>
                <div class="items__price"><%= item.price %> $</div>
                <% if @cart_items_ids.include?(item.id)%>
                    <div class="items__cart-btn items__cart-btn_inactive">В корзине</div>
                <% else %>
                    <div id="cart-btn-<%= item.id %>" class="items__cart-btn" 
                        onclick="items.quickAddToCart(<%= item.id %>, 'cart-btn-<%= item.id %>')">
                        Купить
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
