<div class="item rlt" >
    <%= image_tag("box.png", :alt => "rss feed", :class => "item__img") %>
    <div class="item__info clt">
        <h1 class="item__head"><%= @item.name %></h1>
        <div class="item__desc"><%= @item.description %></div>
        <div class="item__footer rlc">
            <div class="item__price">Цена: <%= @item.price %> $</div>
            <% if @in_cart %>
                <div class="form__btn item__cart-btn item__cart-btn_inactive">В корзине</div>
            <% else %>
                <div class="item__actions rlc">
                    <input id="item-quantity" class="item__quantity" type="number" min="0" max="100" value="1"/>
                    <div id="item-cart-btn" class="form__btn item__cart-btn" 
                        onclick="cart.addToCart(<%= @item.id %>, 'item-quantity', 'item-cart-btn')">
                        Купить
                    </div>
                </div>
            <% end %>
        </div>
        <div class="item__error">* Количество должно быть больше 1</div>
    </div>
</div>
