<div class="item rlt">
    <%= image_tag("box.png", :alt => "rss feed", :class => "item__img") %>
    <div class="item__info clt">
        <h1 class="item__head"><%= @item.name %></h1>
        <div class="item__desc"><%= @item.description %></div>
        <div class="item__footer rlc">
            <div class="item__price">Price: <%= @item.price %> $</div>
            <div class="item__actions rlc">
                <%= form_for :item, url: item_path(@item), method: :patch, html: {class: "item__form rlc"}  do |form| %>
                    <%# TODO Добавление заказа %>
                    <%= form.text_field(:name, {:class=> 'item__quantity'}) %>
                    <%= form.submit("Buy", {:class=> 'form__btn item__btn'}) %>
                <% end %>
                <%# <input class="item__quantity" type="number" min="0" max="100" value="1"/>
                <div class="form__btn item__btn">Buy</div> %>
            </div>
        </div>
        <div class="item__error">* Количество должно быть больше 1</div>
    </div>
</div>
