<div class="storage">
    <h1 class="table__title">Список товаров в магазине</h1>
    <%= form_with url: items_storage_path, class: "items__search-container rlc", method: :get do |form| %>
        <%= form.text_field(:search, {:class=> 'form__field', :placeholder => 'Search...', :value => @search }) %>
        <input class="items__search-btn form__btn" type="submit" value="Search">
    <% end %>
    <ul class="table__list">
        <% @items.each do |item|%>
            <li class="table__item rlc">
                <div class="table__row-block rlc">
                    <div class="table__text table__text_bold">#<%= item.id %></div>
                    <div class="table__text"><%= item.name %></div>
                </div>
                <div class="table__row-block rlc">
                    <div class="table__price"><%= item.price %> $</div>
                </div>
                <%= link_to "Редактировать", edit_item_path(item), {class: "table__btn"} %>
            </li>
        <% end %>
    </ul>
</div>
