<!DOCTYPE html>
<html>
    <head>
        <title>TestShop</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= stylesheet_link_tag "base/app" %>
        <%= stylesheet_link_tag "base/position" %>
        <%= stylesheet_link_tag "base/resolutions" %>
        <%= stylesheet_link_tag "base/form" %>
        <%= stylesheet_link_tag "base/table" %>
        <%= stylesheet_link_tag "components/header" %>
        <%= stylesheet_link_tag "pages/items" %>
        <%= stylesheet_link_tag "pages/item" %>
        <%= stylesheet_link_tag "pages/personal-orders" %>
        <%= javascript_include_tag('cart/cart.store.js')%>
        <%= javascript_include_tag('cart/cart.render.js')%>
        <%= javascript_include_tag('cart/index.js')%>
        <%= javascript_importmap_tags %>
    </head>
    <body class="app cct" onload="init()">
        <script>
            /** Rendering of dynamical data */
            render()
        </script>
        <% if current_user %>
            <%= render "components/header"%>
        <%end%>
        <div class="app__content">
            <%= yield %>
        </div>
    </body>
</html>
