<!DOCTYPE html>
<html>
    <head>
        <title>TestShop</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= stylesheet_link_tag "base/app" %>
        <%= stylesheet_link_tag "base/position" %>
        <%= stylesheet_link_tag "base/resolutions" %>
        <%= stylesheet_link_tag "base/form" %>
        <%= stylesheet_link_tag "components/header" %>
        <%= stylesheet_link_tag "pages/items" %>
        <%= stylesheet_link_tag "pages/item" %>
        <%= stylesheet_link_tag "pages/storage" %>
        <%= javascript_importmap_tags %>
    </head>
    <body class="app cct">
        <% if params[:controller] != 'devise/sessions' && params[:controller] != 'devise/registrations' %>
            <%= render "components/header"%>
        <%end%>
        <div class="app__content">
            <%= yield %>
        </div>
    </body>
</html>
