<!DOCTYPE html>
<html>
    <head>
        <title>my-shop</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="turbo-cache-control" content="no-cache">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_include_tag('cart/cart.render.js')%>
        <%= javascript_include_tag('cart/cart.store.js')%>
        <%= javascript_include_tag('pages/items.page.js')%>
        <%= javascript_include_tag('pages/item-full-info.page.js')%>
        <%= javascript_include_tag('pages/checkout.page.js')%>
        <%= javascript_include_tag('pages/personal-orders.page.js')%>
        <%= javascript_importmap_tags %>
    </head>
    <body class="app cct" <%= "data-no-turbolinks='false'".html_safe if action_name=="checkout" %>>
        <% if current_user %>
            <%= render "components/header"%>
        <% end %>
        <div class="app__content">
        <%= yield %>
    </div>
    <% if current_user %>
        <%= render "components/footer"%>
    <% end %>
</body>
</html>
